body{
    background-color: rgb(32, 32, 32);
}
aside{
    min-width: 18vw;
    border: 1px solid black;
    min-height: 100vh;
    background-color: black;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    position: fixed;
}
.logo{
    min-height: 70px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.logo p{
    margin-left: 5px;
    font-size: 25px;
}
.logo img{
    width: 45px;
    height: 45px;
}
aside a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding: 10px;
    color: rgb(194, 191, 191);
}
aside a i{
    font-weight: bolder;
    padding-right: 15px;
}
aside a:nth-of-type(4){
    margin-top: 20px;
}
aside a:nth-of-type(6){
    font-size: 10px;
    text-decoration: underline;
    margin-top: 120px;
}
aside a:nth-of-type(7){
    padding: 5px;
    font-weight: bold;
    margin-top: 30px;
    width: fit-content;
    border: 1px solid white;
    border-radius: 20px;
}
aside a:hover{
    transition: 200ms;
    color: white;
}
main{
    min-width: 80vw;
    min-height: 100vh;
    position: absolute;
    left: 18vw;
    right: 0;
    background-color: rgb(32, 32, 32);
}
.top{
    width: 100%;
    position: fixed;
    padding: 10px;
    min-height: 50px;
    background-color: rgb(20, 20, 20);
    color: rgb(194, 191, 191);
    display: flex;
    z-index: 100;
}
.top a{
    text-decoration: none;
    color: rgb(194, 191, 191);
}
.top a:hover{
    transition: 200ms;
    color: white;
}
.left{
    display: flex;
    width: 20%;
    align-items: center;
    padding: 0 40px 0 40px;
}
.left a{
    margin: auto;
}
.sign{
    padding: 0 7px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: black;
    align-content: center;
}
.right{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    align-items: center;
}
.right a{
    font-weight: bold;
    margin: auto;
}
.right a:nth-of-type(5){
    border: 1px solid white;
    padding: 5px 25px;
    background-color: white;
    color: black;
    border-radius: 20px;
}
.right a:nth-of-type(5):hover{
    transition: 200ms;
    transform: scale(1.1, 1.1);
    background-color: rgb(235, 232, 232);
}
.hero{
    width: 100%;
    height: fit-content;
    position: absolute;
    top: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* border-bottom: 1px solid gray; */
    /* padding-bottom: 100px; */
}
.links{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
    display: flex;
    align-items: center;
    align-content: center;
}
.links a{
    text-decoration: none;
    color: rgb(194, 191, 191);
    font-weight: bold;
    align-content: space-around;
}
.links a:nth-of-type(1){
    font-size: 24px;
    color: white;
}
.links a:nth-of-type(2){
    position: absolute;
    right: 50px;
}
.links a:hover{
    text-decoration: underline;
}
.cover-card{
    max-width: 200px;
    min-height: 250px;
    background-color: rgb(22, 22, 22);
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    color: white;
    gap: 15px;
}
.card-img{
    width: 100%;
    min-height: 130px;
    background-image: url("cover.jpg");
    background-position: center;
    background-repeat: no-repeat;
    transform: scale(1.4, 1.4);
    display: flex;
    flex-direction: column-reverse;
    align-items: end;
}
.mybtn{
    width:35px;
    height:35px;
    border:1px solid black;
    background-color: rgb(38, 196, 38);
    border-radius:50%;
    position: absolute;
    right: 20px;
    bottom: 20px;
}
.cover-card img{
    box-shadow: 0px 4px 4px 1px black;
}
.cover-card:hover{
    transition: 200ms;
    background-color: rgb(77, 75, 75);
}
a{
    text-decoration: none;
}
